  <main class="container" role="main">
		<form role="form" class="form-inline">
			<label for="searchTerm"><i class="fa fa-search" aria-label="Search"></i></label>
			<input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
		</form>

		<table class="table">
			<tr>
				<th><a href="" ng-click="ordering='title'">Title</a></th>
				<th class="col-xs-2"><a href="" ng-click="ordering='released'">Release Date</a></th>
				<th><a href="" ng-click="ordering='genre'">Genre</a></th>
				<th><a href="" ng-click="ordering='-gross'">Earnings</a></th>
				<th><a href="" ng-click="ordering='distributor'">Distributor</a></th>
			</tr>
			<tr ng-repeat="movie in movies | orderBy:ordering | filter:searchTerm ">
				<td><a ui-sref="detail( {'movie':movie.id} )">{{movie.title}}</a></td>
				<td>{{movie.released | date:'MMM dd, yyyy'}}</td>
				<td>{{movie.genre}}</td>
				<td>{{movie.gross | currency:'$':0}}</td>
				<td>{{movie.distributor}}</td>
		</table>
	</main>