<!DOCTYPE html>
<html lang="en" ng-app="MoviesApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Movie Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">

	<!-- load Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>	<!-- load our script -->
	<script src="js/movies.js"></script>
</head>
<body ng-controller="MoviesCtrl">

	<nav role="navigation">
		<ul class="container list-unstyled list-inline">
			<li><a href="index.html">Home</a></li>
			<li><a href="blog.html">Blog</a></li>
		</ul>
	</nav>

	<header class="container" role="banner">
		<h1>The Year in Movies: 2015</h1>
		<p class="lead">Movies released during 2015</p>
	</header>

  <main class="container" role="main">
		<form role="form" class="form-inline">
			<label for="searchTerm"><i class="fa fa-search" aria-label="Search"></i></label>
			<input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
		</form>

		<table class="table">
			<tr>
				<th><a href="" ng-click="ordering='title'">Title</a></th>
				<th class="col-xs-2"><a href="" ng-click="ordering='released'">Release Date</a></th>
				<th><a href="" ng-click="ordering='genre'">Genre</a></th>
				<th><a href="" ng-click="ordering='-gross'">Earnings</a></th>
				<th><a href="" ng-click="ordering='distributor'">Distributor</a></th>
			</tr>
			<tr ng-repeat="movie in movies | orderBy:ordering | filter:searchTerm ">
				<td>{{movie.title}}</td>
				<td>{{movie.released | date:'MMM dd, yyyy'}}</td>
				<td>{{movie.genre}}</td>
				<td>{{movie.gross | currency:'$':0}}</td>
				<td>{{movie.distributor}}</td>
		</table>
	</main>

	<footer role="contentinfo">
		<div class="container">
			<p>This page was created by me using my own two hands.</p>
			<p>&copy; 2016 The Author.</p>
		</div>
	</footer>

</body>
</html>